
.forecast-container {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.forecast-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.forecast-info {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.forecast-day, .forecast-description {
    text-transform: capitalize;
    font-size: 1.1rem;
}