@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    width: 60%;
    max-width: 300px;
    outline: none;
    margin-top: 60px;
}

button {
    background-color: #ff9800;
    border: 0;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #f57c00;
}